.btn {
  border: none;
  border-radius: 0.25rem;
  background-color: #e50914;
  padding: 0.25rem 1rem;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 0.875rem;
  min-height: 2rem;
  color: white;
}