.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 20rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 9.25rem;
  height: 2.5rem;
  color: #e50914;
  fill: currentColor;
}